html, body {
    background: #fafafa;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#auth-container {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
}

#main-navbar {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    align-items: center;
    justify-content: center;
}

.post-container {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.nav-icon a {
    color: #262626;
    font-size: 1.3em;
    display: block;
    margin-top: .2em;
    margin-left: 1.2em;
    font-weight: 100;
}
.nav-icon a:hover {
    color: #1d5e72;;
}
#profile-box {
    background: #fff;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 1px;
    margin-top: 6em;
}

#user-posts #post-thumb {
    background: #fff;
}

.page-item {
    align-items: center;
}
.insta-icon {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 20%;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
  }
  .insta-icon:after,
  .insta-icon:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    content: ''
  }
  .insta-icon:before {
    border-radius: 20%
  }
  .insta-icon:after {
    width: 11px;
    height: 11px;
    border-radius: 50%
  }